# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment
venv/
.env

# IDE
.vscode/
.idea/

# Database
*.sqlite3
db.sqlite3

# Mac system files
.DS_Store

# Django
# Python
__pycache__/
*.pyc

# Django
db.sqlite3
media/

# Environment


# Node


